/* $Id: blocks.css,v 1.4 2009/11/05 11:05:39 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

#suffix .block-inner,
.region-sidebar-first .block-inner,
.region-sidebar-second .block-inner {
  padding: 20px;
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  color: #fff;
}

#suffix .block .block-title,
.region-sidebar-first .block .block-title,
.region-sidebar-second .block .block-title {
  color: #fff;
}

#suffix .block,
.region-sidebar-second .block,
.region-sidebar-first .block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.region-sidebar-second .region-odd {
  background-color: #eb2a8a;
}

.region-sidebar-second .region-even {
  background-color: #ffc501;
}

.not-front .region-sidebar-first .region-odd {
  background-color: #54b87b;
}

.not-front .region-sidebar-first .region-even {
  background-color: #eb5f54;
}

#suffix .block .block-title,
.region-content-top .block .block-title,
.region-content-bottom .block .block-title,
.region-sidebar-first .block .block-title,
.region-sidebar-second .block .block-title {
  margin: 0;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
}

/* Block specific link colors */
#block-block-7 a,
#block-block-7 a:visited {
  border-bottom: none;
}

#block-block-7 a:hover {
  text-decoration: none;
}

#block-block-8 a,
#block-block-8 a:visited {
}

#block-block-8 a:hover {
  border-bottom: 1px dotted #fff;
  color: #fff;
}

/* Suffix block region */
#suffix .block {
  width: 240px;
  margin-right: 20px;
  float: left;
}

#suffix .region-count-3 {
  margin-right: 0;
}

#suffix .region-count-1 {
  background-color: #eb5f54;
}

#suffix .region-count-2 {
  background-color: #4fc3e6;
}

#suffix .region-count-3 {
  background-color: #ffc501;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-block-7 .content {
  text-align: center;
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

/**
 * Front page block treatments
 */
.front .region-sidebar-first .section {
   background-color: #54b87b;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
}
 
.front .region-sidebar-first .region-count-1 .block-inner,
.front .region-sidebar-first .region-count-2 .block-inner {
   border-bottom: 2px solid #7ec99c;
}
 
 /**
  * Twitter Block Widget
  */
.twtr-widget .twtr-hd,
.twtr-widget .twtr-ft {
  display: none;
}
