/* $Id: blocks.css,v 1.4 2009/11/05 11:05:39 johnalbin Exp $ */

/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

#suffix .block-inner,
#sponsors .block-inner,
.region-sidebar-first .block-inner,
.region-sidebar-second .block-inner {
  padding: 20px;
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  color: #fff;
}

#suffix .block .block-title,
.region-sidebar-first .block .block-title,
.region-sidebar-second .block .block-title {
  color: #fff;
}

#suffix .block,
.region-sidebar-second .block,
.region-sidebar-first .block {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.region-sidebar-second .region-odd {
  background-color: #eb2a8a;
}

.region-sidebar-second .region-even {
  background-color: #ffc501;
}

.not-front .region-sidebar-first .region-odd {
  background-color: #54b87b;
}

.not-front .region-sidebar-first .region-even {
  background-color: #eb5f54;
}

#suffix .block .block-title,
#sponsors .block .block-title,
.region-content-top .block .block-title,
.region-content-bottom .block .block-title,
.region-sidebar-first .block .block-title,
.region-sidebar-second .block .block-title {
  margin-top: 0;
  text-align: center;
  font-size: 2em;
  line-height: 1em;
}

#sponsors .block .block-title {
  margin-bottom: 0;
}

/* Block specific link colors */
#block-block-7 a,
#block-block-7 a:visited {
  border-bottom: none;
}

#block-block-7 a:hover {
  text-decoration: none;
}

#block-block-8 a,
#block-block-8 a:visited {
}

#block-block-8 a:hover {
  border-bottom: 1px dotted #fff;
  color: #fff;
}

/**
 * Suffix block region 
 */
#suffix .block {
  width: 240px;
  margin-right: 20px;
  float: left;
}

#suffix .region-count-3 {
  margin-right: 0;
}

#suffix .region-count-1 {
  background-color: #eb5f54;
}

#suffix .region-count-2 {
  background-color: #4fc3e6;
}

#suffix .region-count-3 {
  background-color: #ffc501;
}

/*
 * Misc block region 
 */
#block-block-7 .content {
  text-align: center;
}

/**
 * Front page block treatments
 */
.front .region-sidebar-first .section,
.front #sponsors .section {
   background-color: #54b87b;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   margin-bottom: 1em;
}

.front #sponsors .section {
   background-color: #fff;
}

.front .region-sidebar-first .block {
  margin-bottom: 0;
}  
 
.front .region-sidebar-first .region-count-1 .block-inner,
.front .region-sidebar-first .region-count-2 .block-inner {
   border-bottom: 2px solid #7ec99c;
}
 
.front .block-logistics ul.menu a {
  font-size: 1em;
  font-weight: bold;
} 

.block-logistics ul.menu {
  margin: 0;
  padding: 0;
}

.block-logistics ul.menu li {
  background-repeat: no-repeat;
  background-position: 0 .5em;
  padding: .2em .2em 1em 50px;
  margin: 0;
  list-style-type: none;
  list-style-image: none;
}  

.block-logistics ul.menu li.logistics-air { background-image: url(../images/logistics-icons-air.png);}
.block-logistics ul.menu li.logistics-transit { background-image: url(../images/logistics-icons-transit.png);}
.block-logistics ul.menu li.logistics-passport { background-image: url(../images/logistics-icons-passport.png);}
.block-logistics ul.menu li.logistics-attractions { background-image: url(../images/logistics-icons-attractions.png);}
.block-logistics ul.menu li.logistics-food { background-image: url(../images/logistics-icons-food.png);}
.block-logistics ul.menu li.logistics-hotels { background-image: url(../images/logistics-icons-hotels.png);}
.block-logistics ul.menu li.logistics-weather { background-image: url(../images/logistics-icons-weather.png);}
 
 /**
  * News block
  */
#block-views-news-block_1 .feed-icon {
  margin-top: -16px;
}
