/* $Id: pages.css,v 1.18.2.1 2009/11/16 10:15:47 johnalbin Exp $ */

/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

.front #page {
  background-image: url(../images/balloon-register.gif);
  background-repeat: no-repeat;
  background-position: 260px 0px;
}

.front #content h1.title {
  height: 0;
  overflow: hidden;
  position: absolute;
}

#sign-up-banner {
  display: block;
  height: 55px;
  overflow: hidden;
  position: absolute;
  text-indent: -99em;
  top: 489px;
  width: 240px;
}

a#sign-up-banner:link,
a#sign-up-banner:visited {
  border-bottom: none;
}

/*
 * The skip-to-nav link will be completely hidden until a user tabs to the link.
 * See http://www.webaim.org/techniques/skipnav/
 */
#skip-to-nav a,
#skip-to-nav a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-to-nav a:hover,
#skip-to-nav a:active,
#skip-to-nav a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  background: transparent url(../images/logo.gif) no-repeat scroll top left;
  display: block;
	height: 62px;
  width: 205px;
  margin:0;
}

#site-name a:link,
#site-name a:visited {
  display:block;
  height:62px;
  overflow:hidden;
  text-indent:-999px;
  width:205px;
  border: none;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
}

#main {
}

/*
 * Content
 */
#content {
}

.not-front #content {
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.not-front #content .section {
  margin: 20px;
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0;
  text-transform: uppercase;
}

.block-title {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "trebuchet ms", Helvetica, Arial, "Nimbus Sans L", sans-serif;
}


tr.even /* Some tables have rows marked even or odd. */ {
  background-color: #fff; /* Drupal core uses a #eee background */
}

tr.odd {
  background-color: #eee; /* Drupal core uses a #eee background */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.7em 0 .5em;
  margin: 0;
}

/* 
 * Pager
 */
.item-list ul.pager /* A list of page numbers when more than 1 page of content is available */ {
  text-align: left;
  margin: 0;
  padding: 0;
  float: right;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0 5px;
}

ul.pager li a:hover,
ul.pager li.pager-current {
  color: #E3038D;
}

.pager_info {
  font-size: .9em;
  color: #666666;
}


.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  float: right;
  margin: 1em 0;
	}
	
  .feed-icons a,
  .feed-icon a {
    border: none;
  }

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}

/*
 * Footer
 */
#footer {
  margin-top: 290px;
  font-size: .9em;
}

#footer-inner {
  padding: 10px;
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
  text-align: center;
}

#footer-message-inner {
  margin: 10px;
}

.region-footer {
}

#footer .block {
  float: left;
  width: 25%;
}

/* Sponsor: Linux Foundation */
.sponsor {
  float: left;
  text-align: right;
}

.sponsor a:link,
.sponsor a:visited,
.sponsor a:hover,
.sponsor a:focus,
.sponsor a:active {
  border: none;
}

#footer .block ul.menu {
	margin: 0;
  padding: 0 0 0 10px;
}

#footer .block ul.menu li {
  border-bottom: none;
  padding: .1em 0;
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users.
 */
.element-invisible {
  height: 0;
  overflow: hidden;
  position: absolute;
}

.view-schedule h2 {
  color: #EB2A8A;
  font-size: 1.7em;
  margin-bottom: 0;
}

.session-calendar .occupied {
  border: 1px solid #ccc;
  background-color: #f5f5ff;
}

.session-calendar th {
  border-right: 1px solid #ccc;
}

.session-calendar {
  border-bottom: 1px solid #ccc;
  margin-bottom: 3em;
}

.session-calendar tr.even, tr.odd {
  border-bottom: 0;
}

.session-calendar td.session {
  vertical-align: top;
}

.session-calendar .views-item {
  text-align: center;
}

.session-calendar .type-session .title {
  text-align: left;
  margin-bottom: .5em;
  width: 114px;
  font-size: .95em;
}

.session-calendar .type-session .field_presenters_uid {
  font-size: .917em;
  text-align: right;
}

.session-calendar .type-session .field_track_value {
  color: #54B87B;
}

.session-calendar .room-label {
  text-align: center;
  display: block;
  width: 114px;
}