/* $Id: views-styles.css,v 1.1 2009/08/12 04:25:15 johnalbin Exp $ */

/**
 * @file
 * Views Styling
 */

.views-row-even,
.views-row-odd,
#aggregator .feed-item {
  border-bottom: 1px solid #EAEAEA;
  clear: both;
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

.views-row-last {
  border: none;
  padding-bottom: 0;
}

/* 
 * Attendees View
 */
.not-front .view-attendees td {
  text-align: center;
  padding: 1.5em 10px;
}
 
.view-attendees .username {
  display: block;
}

.front .view-attendees table {
  margin: 0;
}

/* 
 * /program/sessions
 */
.view-grouped-list .item-list ul {
   padding: 0;
} 
 
.view-grouped-list .item-list ul li {
  border-bottom: 1px solid #eeeeee;
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  }

  .view-grouped-list .item-list ul li.views-row-last {border: none;}

  #content .view-grouped-list .node h2 {margin-top: 0;}

.view-grouped-list .item-list ul li .views_view_fields {
  background-color: #f1f4eb;
  padding: 10px 10px 10px 0;
  }

  /* User picture, name */
  .view-grouped-list .grouped-meta {
    float: left;
    width: 25%;
    text-align: center;
    }
    
    .view-grouped-list .grouped-meta .username {
      padding-right: 5px;
      }

    .view-grouped-list .grouped-meta a:link,
    .view-grouped-list .grouped-meta a:visited {
      border: none;
      color: #5dba7c;
      font-weight: bold;
    }

    .view-grouped-list .grouped-meta a:hover {color: #E3038D;}  

  /* Title, summary, presenters */
  .view-grouped-list .grouped-content {
    float: right;
    width: 75%;
    }

    .view-grouped-list .grouped-content p {margin: .5em 0;}

    .view-grouped-list .title {
      font-size: 1.3em;
	    line-height: 1.2em;
    }