/* $Id: landing-stacked.css,v 1.1 2010/02/10 15:31:55 mshaver Exp $ */

/**
 * @file
 * Meego panel layout
 *
 * This layout provides 3 row, 2 columns each for top and mid rows.
 */

.meego-landing-stacked { 
/*  overflow: hidden;  */
  position: relative;
  margin-top: 0;
  padding-top: 0;
}

.meego-landing-stacked .center-wrapper .panel-col-first {
  float: left;
  width: 460px;
}

.meego-landing-stacked .center-wrapper .panel-col-last {
  float: left;
  width: 300px;
}

.meego-landing-stacked .top {
  background-color: #333333;
  color: #ffffff;
}

.meego-landing-stacked .mid .panel-col-first .inside {
  padding-right: 20px;
}
